# Environments
.env
.env_
.venv/

# Python cache
__pycache__/
*.pyc

# Databases
*.db

# IDE specific
.vscode/

# Test specific
.pytest_cache/
.env.test

# Logs
server*.log

# Supabase
supabase/.temp/

# Other
digest.txt
commit_message.txt
history.txt