{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Witaj, {{ user.username }}!</h1>

    {% if notification %}
    <div class="alert alert-success" role="alert">
        {{ notification }}
    </div>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Twoje zestawy fiszek</h2>
        <a href="/generate" class="btn btn-primary">Stwórz nowy zestaw</a>
    </div>

    {% if sets %}
    <ul class="list-group">
        {% for set in sets %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/sets/{{ set.id }}" class="text-decoration-none fs-5">{{ set.name }}</a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-set-id="{{ set.id }}" data-set-name="{{ set.name }}">
                Usuń
            </button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-info" role="alert">
        Nie masz jeszcze żadnych zestawów fiszek. Stwórz swój pierwszy zestaw!
    </div>
    {% endif %}
</div>

<!-- Modal Potwierdzenia Usunięcia -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Potwierdzenie usunięcia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć zestaw <strong id="modalSetName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <form id="deleteForm" method="post" action="">
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteConfirmationModal = document.getElementById('deleteConfirmationModal');
        deleteConfirmationModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Przycisk, który wywołał modal
            var setId = button.getAttribute('data-set-id');
            var setName = button.getAttribute('data-set-name');

            var modalSetName = deleteConfirmationModal.querySelector('#modalSetName');
            var deleteForm = deleteConfirmationModal.querySelector('#deleteForm');

            modalSetName.textContent = setName;
            deleteForm.action = `/sets/${setId}/delete`;
        });
    });
</script>
{% endblock %}